{% extends "ftest-base.html" %}

{% block content %}

<TABLE width="100%">
<TR>
	<TD>
	  <form action="/ruleitems/do/" method="post">  {% csrf_token %}
      <table>
      	<tr>
      		<td>Tehingutüüp:</td><td>{{form.tehingutyyp}}</td>
      	</tr>
      	<tr>
      		<td>Konto:</td><td>{{form.konto}}</td>
      	</tr>
      	<tr>
      		<td>Deebet:</td><td>{{form.on_deebet}}</td>
      	</tr>
      	<tr>
      		<td>Valem:</td><td>{{form.valem}}</td>
      	</tr>
		<tr>
		  <td><INPUT TYPE="hidden" NAME="ipk" value="{{ipk}}" /><INPUT TYPE="hidden" NAME="pk" value="{{pk}}" /></td>
		  <td><input type="submit" name="action" value="Save" /><input type="submit" name="action" value="Cancel" /></td>
		</tr>
      </table>
	  </form>
	</TD>
</TR>
</TABLE>

{% endblock %}